<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="bahul" content="">

    <title>Twitty</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/dashboard.css" rel="stylesheet">

    <!-- Custom Fonts -->    
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
    <nav class="navbar navbar-default topnav" role="navigation">
        <div class="container topnav">
            <div class="topnav">
                <div>
                    <ul class="nav navbar-nav">
                        <li ><a href="#"><span class="glyphicon glyphicon-home"><span> Home</span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3">
                    <div id="content-section-a">
                        
                        <div id="profile-section-image">
                            <div id="profile-image"></div>
                        </div>

                        <div id="profile-details">
                            <h2 id="name"></h2>
                            <h6 id="handle"></h6>
                            
                            <div id="stats">
                                <table>
                                    <tr>
                                        <td>TWEETS</td>
                                        <td>FOLLOWING</td>
                                        <td>FOLLOWERS</td>
                                    </tr>
                                    
                                    <tr id="values">
                                        <td id="tweets-count"></td>
                                        <td id="following-count"></td>
                                        <td id="followers-count"></td>
                                    </tr>

                                </table>
                            </div>

                            <div id="description"></div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-6">
                    <div id="content-section-b">
                    
                        <!-- <div class="card">
                            <div class="profile-image">

                            </div>
                        </div> -->
                    
                    </div>
                </div>

                <div class="col-lg-3">
                    <div id="content-section-c">
                        <div id="graphs">
                            <h2> Interest Graphs </h2>
                            
                            <div id="graph-buttons">
                                <form id="twitterGraph" action="twitterGraph" method="get">
                                    <input type="hidden" name="device" value="web"/>
                                    <input class="user_id" type="hidden" name="user_id" value=""/>
                                    <button class"myButton" onclick="getTwitterGraph()">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        Show Full Twitter Graph
                                    </button> 
                                    <br/><br/>
                                </form>

                                <form id="socialGraph" action="socialGraph" method="get">
                                    <input type="hidden" name="device" value="web"/>
                                    <input class="user_id" type="hidden" name="user_id" value=""/>
                                    <button onclick="getSocialGraph()">
                                        <span class="glyphicon glyphicon-user"></span>
                                        See Your Social Graph
                                    </button> 
                                    <br/><br/>
                                </form>
                            </div>
                        </div>

                        <div id="interests">
                            <h2> Your Interests </h2>
                                                     
                            <div id="interests-list"></div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var user_id = {{ user_id | safe }};
        var user = {{ user | safe }};
        var matchingUsers = {{ matchingUsers | safe }};

        console.log(user);
        console.log(matchingUsers);

        var image_url = user.profile_image_url.replace('_normal', '');
        document.getElementById('profile-image').style.backgroundImage = "url('" + image_url + "')";
        
        document.getElementById('name').innerHTML = user.name;
        document.getElementById('handle').innerHTML = "@" + user.screen_name;
        document.getElementById('description').innerHTML = user.description;
        document.getElementById('following-count').innerHTML = numberFormatting(user.friends_count);
        document.getElementById('tweets-count').innerHTML = numberFormatting(user.statuses_count);
        document.getElementById('followers-count').innerHTML = numberFormatting(user.follower_count);


        var div = document.getElementById('interests-list');
        for(id in user['interests']) {
            var span = document.createElement('span');
            var br = document.createElement('br');
            span.appendChild(document.createTextNode(user['interests'][id]));
            div.appendChild(span);
            div.appendChild(br);
        }

        var section = document.getElementById('content-section-b');
        for(id in matchingUsers) {            
            userDetails = matchingUsers[id].userDetails;
            commonInterests = matchingUsers[id].commonInterests;
            
            list = [];
            for(id in commonInterests) {
                list.push(commonInterests[id]);
            }
            interests = list.join(', ');

            var card = document.createElement('div');
            card.className = "card";
            

            var profile_image = document.createElement('div');
            profile_image.className = "profile_image";
            card.appendChild(profile_image);
            section.appendChild(card);

            image_url = userDetails.profile_image_url.replace('_normal', '');
            profile_image.style.backgroundImage = "url('" + image_url + "')";

            

            // card.innerHTML = interests;
            
        }


        x = document.getElementsByClassName('user_id');
        for (var i = 0; i < x.length; i++) {
            x[i].value = user_id;
        }

        function getTwitterGraph() {
            document.getElementById('twitterGraph').submit();
        }

        function getSocialGraph() {
            document.getElementById('socialGraph').submit();
        }

        function logout() {
            document.getElementById('logout').submit();
        }

        function numberFormatting(n) {
            if(n > Math.pow(10,7)) {
                return Math.ceil(n/Math.pow(10,5))/10 + "M";
            } else if(n > Math.pow(10,4)) {
                return Math.ceil(n/Math.pow(10,2))/10 + "K";
            } else {
                return n;
            }
        }
    </script>

    
    <form id="logout" action="logout" method="get">
        <input type="hidden" name="device" value="web"/>
        <input class="user_id" type="hidden" name="user_id" value=""/>
            <!-- Logout: <button onclick="logout()">Log Out</button> -->
    </form>


    

        <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


</body>

</html>